{{> header}}
<main>
    <div class="container">
        <br>
        <h3 class="center">Calculate Pension</h3>
        <form id="gratuityForm" name="gratuityForm" action="" autocomplete="off">
            <div class="row">
                <div class="col l6 s12 input-field">
                    <input type="text" name="firstName" id="firstName" value="{{user.firstName}}" disabled>
                    <label for="firstName">First Name</label>
                </div>
                <div class="col l6 s12 input-field">
                    <input type="text" name="lastName" id="lastName" value="{{user.lastName}}" disabled>
                    <label for="lastName">Last Name</label>
                </div>
            </div>
            <div class="row">
                <div class="col l6 s12 input-field">
                    <input type="number" name="salary" id="salary" value="{{user.salary}}" disabled>
                    <label for="salary">Your Salary</label>
                </div>
                <div class="col l6 s12 input-field">
                    <input type="number" name="deduction" id="deduction" value="{{user.deduction}}" disabled>
                    <label for="deduction">Amount Deducted</label>
                </div>
            </div>
            <div class="row">
                <div class="col l6 s12 input-field">
                    <input type="number" name="months" id="months" value="{{months}}" autofocus>
                    <label for="months">Number of Months</label>
                </div>
                <div class="col l6 s12 input-field">
                    <input type="number" name="yearsOfService" id="yearsOfService" value="{{yearsOfService}}">
                    <label for="yearsOfService">Years of Service</label>
                </div>
            </div>
            <div class="row">
                 <div class="col l6 s12 input-field">
                    <input type="text" name="gratuity" id="gratuity" value="{{gratuity}}">
                    <label for="gratuity">Gratuity</label>
                </div>
                <div class="col l6 s12 input-field">
                    <input type="number" name="total" id="total" value="{{total}}">
                    <label for="total">Total Amount</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12 input-field">
                    <button id="calculatePension" class="btn">Calculate Pension</button>
                </div>
            </div>
        </form>
    </div>
</main>
{{> footer}}